@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    font-family: "Fredoka", sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(250, 227, 195);
    margin: 0;
    padding-top: 40; /* 👉 este valor lo sube */
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

.registro-form {
    background-color: rgb(238, 220, 198);
    color: rgb(99, 10, 41);
    border: 3px solid rgb(99, 10, 41);
    border-radius: 10px;
    padding: 15px;
    width: 270px;
}

.registro-form h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.registro-form label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 4px;
}

.registro-form input[type="text"],
.registro-form input[type="email"],
.registro-form input[type="password"],
.registro-form input[type="date"] {
    width: 80%;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registro-form button {
    width: 85%;
    padding: 10px;
    margin-top: 12px;
    background-color: rgb(99, 10, 41);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registro-form button:hover {
    background-color: #7a0e27;
}


